body {
  @apply m-0 font-sans text-textPrimary;
}

h1 {
  @apply text-5xl font-black mb-8;
}

h2 {
  @apply text-3xl font-black mb-4;
}

p {
  @apply text-lg mb-4;

  &.subtitle {
    @apply text-2xl leading-relaxed text-slate-600;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

*:not(.material-icons, .fa, .material-symbols-outlined) {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
}

p {
  @apply hyphens-auto text-justify;
}

.details {
  @apply flex flex-col items-start max-md:items-center;

  span {
    @apply text-buttonSecondary;
  }

  h3,
  p {
    @apply mb-2 md:pl-4;
    overflow-wrap: anywhere;
  }

  p {
    @apply leading-relaxed;
  }

  h3 {
    @apply max-md:text-center;
  }
}
